@(parentComponentId : Long, pcForm: Form[PartsComponents])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(myBootstrapFieldConstructor.f) }

@main("Assign part to component") {@Html("")} {
	<style>
	body {
		background-color: #EDEDED;
	}
	</style>
	@form(action = routes.PartComponentApplication.save(parentComponentId),
	'class->"form-horizontal",
	'role->"form"
	) {	
		<div class="form-group">
					
			<div class="col-lg-4">
				@select(pcForm("part.id"),
				options(Parts.options()),
				'class->"form-control",
				'_label->LanguageApplication.message("partName"),
				'_default->""
				)
			</div>
		
			<div class="col-lg-3">			
				@inputText(pcForm("quantity"),
				'class->"form-control",
				'_label->LanguageApplication.message("partQuantityInComponent"),
				'_showConstraints->true
				)
			</div>
		</div>
		
		<div align="center">
			<input type="submit" value=@LanguageApplication.message("create") 
			class="btn btn-success btn-lg">
			<a style="margin-left : 2em;"
			href="@routes.PartComponentApplication.list(parentComponentId, 0, "part.name", "asc", "")" 
				class="btn btn-danger btn-lg" role="button">
				@LanguageApplication.message("cancel")</a>
		</div>
	}
	<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("select2.min.js"))'></script>
	@if(session().get("play_user_lang") == "1") {
	<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("select2_locale_fa.js"))'></script>}
	<script>
	$(document).ready(function() {
		$("#part_id").select2( {
			minimumInputLength : 2,
			dropdownCssClass : "bigdrop"
		});
	});
	</script>
}
