@(parentComponentId : Long, currentPage : com.avaje.ebean.Page[PartsComponents], currentSortBy: String, currentOrder: String, currentFilter: String)

@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.views.html._

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.PartComponentApplication.list(parentComponentId,newPage, sortBy, order, currentFilter)    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@if(key=="part.name") {col-sm-3} @if(key=="part.description") {col-sm-6}">
        <a href="@link(0, key)">@title
        <span class="glyphicon @if(currentSortBy == key) {
        	@if(currentOrder == "asc") {glyphicon-sort-by-attributes} else {glyphicon-sort-by-attributes-alt}
        	} else {glyphicon-sort}"></span>
        </a>
    </th>
}

@**********************************
*Pager helper                     *
**********************************@
@pager = {<div id="pager" class="pager">
	            <ul>
	           		<li class="previous">
	           		<a href="@link(0,null)"><span @if(session().get("play_user_lang") == "0") {class="fa fa-fast-backward"} else {class ="fa fa-fast-forward"}></span>
	           		</a></li>
	            	@if(currentPage.hasPrev) {
	                    <li class="previous">
	                        <a href="@link(currentPage.getPageIndex - 1, null)">
	                        @if(session().get("play_user_lang") == "0") {&larr; @LanguageApplication.message("previous")} else {&rarr; @LanguageApplication.message("previous") }
	                        </a>
	                    </li>
	                } else {
	                    <li class="previous disabled">
	                        <a>
	                        @if(session().get("play_user_lang") == "0") {&larr; @LanguageApplication.message("previous")} else {&rarr; @LanguageApplication.message("previous") }
	                        </a>
	                    </li>
	                }
	                <li class="current">
	                    <a>@LanguageApplication.message("displaying") @currentPage.getDisplayXtoYofZ(" " + LanguageApplication.message("to")+" "," "+LanguageApplication.message("of")+" ")</a>
	                </li>
	                <li class="next"><a href="@link(currentPage.getTotalPageCount-1,null)">
	                <span @if(session().get("play_user_lang") == "1") {class="fa fa-fast-backward"} else {class ="fa fa-fast-forward"}></span></a></li>
	                @if(currentPage.hasNext) {
	                    <li class="next">
	                        <a href="@link(currentPage.getPageIndex + 1, null)">
	                        @if(session().get("play_user_lang") == "1") {@LanguageApplication.message("next") &larr;} else {@LanguageApplication.message("next") &rarr;}
	                        </a>
	                    </li>
	                } else {
	                    <li class="next disabled">
	                        <a>
	                        @if(session().get("play_user_lang") == "1") {@LanguageApplication.message("next") &larr;} else {@LanguageApplication.message("next") &rarr;}
	                        </a>
	                    </li>
	                }
	                
	            </ul>
	        </div>
	       }

@main("Part list: "+currentFilter) {<div id='tree'></div>} {
	<ol class="breadcrumb">
	<li><a href="@routes.InstallationApplication.installationIndex()"><strong>@Components.find.byId(parentComponentId).subunit.equipment.section.plant.installation.name</strong></a></li>
	<li><a href="@routes.PlantApplication.list(0, "name", "asc", "")"><small>@LanguageApplication.message("plants")</small></a></li>
	<li><a href="@routes.PlantApplication.plantIndex(Components.find.byId(parentComponentId).subunit.equipment.section.plant.id)"><strong>@Components.find.byId(parentComponentId).subunit.equipment.section.plant.name</strong></a></li>
	<li><a href="@routes.SectionApplication.list(Components.find.byId(parentComponentId).subunit.equipment.section.plant.id,0,"name","asc","")"><small>@LanguageApplication.message("sections")</small></a></li>
	<li><a href="@routes.SectionApplication.sectionIndex(Components.find.byId(parentComponentId).subunit.equipment.section.id)"><strong>@Components.find.byId(parentComponentId).subunit.equipment.section.name</strong></a></li>
	<li><a href="@routes.EquipmentApplication.list(Components.find.byId(parentComponentId).subunit.equipment.section.id, 0, "name", "asc", "")"><small>@LanguageApplication.message("equipments")</small></a></li>
	<li><a href="@routes.EquipmentApplication.equipmentIndex(Components.find.byId(parentComponentId).subunit.equipment.id)"><strong>@Components.find.byId(parentComponentId).subunit.equipment.name</strong></a></li>
	<li><a href="@routes.SubunitApplication.list(Components.find.byId(parentComponentId).subunit.equipment.id, 0, "name", "asc", "")"><small>@LanguageApplication.message("subunits")</small></a></li>
	<li><a href="@routes.SubunitApplication.subunitIndex(Components.find.byId(parentComponentId).subunit.id)"><strong>@Components.find.byId(parentComponentId).subunit.name</strong></a></li>
	<li><a href="@routes.ComponentApplication.list(Components.find.byId(parentComponentId).subunit.id,0,"name","asc","")"><small>@LanguageApplication.message("components")</small></a></li>
	<li><a href="@routes.ComponentApplication.componentIndex(parentComponentId)"><strong>@Components.find.byId(parentComponentId).name</strong></a></li>
	<li><small>@LanguageApplication.message("implementedParts")</small></li>
	</ol>
	
	@restrict(la(as("admin"), as("creator"), as("editor"))) {
	<div class="btn btn-group">
		<a class="btn btn-primary btn-lg" 
		href="@routes.PartComponentApplication.createPartComponent(parentComponentId)">@LanguageApplication.message("addPart")
			<span class="glyphicon glyphicon-plus"></span></a>
			
		<a class="btn btn-primary btn-lg" title="Copy component parts to another component"
		 	data-toggle="modal" data-target="#myModalPC">@LanguageApplication.message("copyComponent")
		 	<span class="fa fa-copy"></span>
		</a>
	</div>
	<!-- modal -->
	<div class="modal fade" id="myModalPC" tabinex=-1 role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
				<h4 class="modal-title">@LanguageApplication.message("componentModalTitle")</h4>
				<div class="modal-body">
					<form class="form" role="form" 
					action="@routes.PartComponentApplication.copyPartsComponents(parentComponentId)">
					  	<div class="form-group">
					  		<input type="hidden" name="pcId" value="@parentComponentId">
					  		<label for="component.id">@LanguageApplication.message("targetComponent")</label>
							<select name="component.id" id="component_id" class="form-control">
								@Components.options().map {cm =>
									<option value="@cm._1">@cm._2</option>
								}
							</select>		
						</div>
						<button type="submit" class="btn btn-success">
						@LanguageApplication.message("submit")
						</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">@LanguageApplication.message("cancel")</button>
				</div>
				</div>
			</div>
		</div>
	</div><!-- end of modal -->
	}
	<br />
	@if(flash.containsKey("success")) {
        <div class="alert alert-success">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 
	@if(flash.containsKey("error")) {
       <div class="alert alert-danger">
           <strong>ERROR: </strong> @flash.get("error")
       </div>
    }
	<br />

	<form class="form-inline" role="form" action="@link(0, "part.name")" method="GET">
		<div class="form-group">
			<input type="hidden" value="@parentComponentId" name="pcoid">			
			<input class="form-control" type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by ...">
		</div>
		<div class="form-group">
			<input type="submit" id="searchsubmit" value=@LanguageApplication.message("filter") class="btn btn-success">
		</div>
	</form>
	<br />
	
	@if(currentPage.getTotalRowCount == 0) {
		<div class="well well-lg">
	  		<em>@LanguageApplication.message("nothingToDisplay")</em>
	    </div> 
	   } else {   
			<table class="table table-striped table-bordered">			
				<thead>
					<tr>
						@header("part.name", LanguageApplication.message("partName"))
						@header("quantity", LanguageApplication.message("quantity"))
						
					</tr>
				</thead>
				<tbody>	
					@currentPage.getList.map { cl =>
					<tr>
						<td>
							<a href="@routes.PartApplication.partIndex(cl.part.id)">@cl.part.name</a>
						</td>
						
						<td>
							 <a href="@routes.PartComponentApplication.editPartComponent(cl.id)">@cl.quantity</a>
						</td>
						
						<td>
							<a class="btn btn-danger btn-sm" 
							href="@routes.PartComponentApplication.delete(cl.id, parentComponentId)">
							<span class="fa fa-trash"></span></a>
						</td>
						
					</tr>
				}
				</tbody>
			</table>
			@pager
	}
}
