@(id : Long, sectionForm: Form[Sections])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(myBootstrapFieldConstructor.f) }

@main("Edit section") {@Html("")} {
	<style>
		body {
			background-color: #EDEDED;
		}
	</style>
	@form(action = routes.SectionApplication.update(id),
	'class->"form-horizontal",
	'role->"form"
	)	{
		<div class="form-group">
			<div class="col-lg-3">
				@inputText(sectionForm("name"),
				'class->"form-control",
				'_label->LanguageApplication.message("name"),
				'_showConstraints->true
				)
			</div>
					
			<div class="col-lg-6">
				@inputText(sectionForm("description"),
				'class->"form-control",
				'_label->LanguageApplication.message("description")
				)
			</div>
		</div>
		<div class="form-group">			
			<div class="col-lg-4">
				@select(sectionForm("sectionCategory"),
				options(SectionCategories.values().toList.map(_.toString)),
				'class->"form-control",
				'_label->LanguageApplication.message("category"),
				'_default->""
				)						
			</div>
		</div>
				
		<div class="form-group">
			<div class="col-lg-6">
				@textarea(sectionForm("comments"),
				'class->"form-control",
				'rows->"5",
				'_label->LanguageApplication.message("comments")
				)
			</div>
		</div>
		
		<div align="center">
			<input type="submit" value="@LanguageApplication.message("update")" class="btn btn-success btn-lg">
			<a style="margin-left : 2em;"
			href="@routes.SectionApplication.sectionIndex(id)" 
				class="btn btn-danger btn-lg" role="button">
			@LanguageApplication.message("cancel")</a>
		</div>
	}
}