@(editHistoryForm: Form[PartHistory])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(myBootstrapFieldConstructor.f) }

@main("New request") {@Html("")} {
	<style>
		body {
			background-color: #EDEDED;
		}
	</style>
	@form(action = routes.PartHistoryApplication.saveRequest(),
	'class->"form-horizontal",
	'role->"form") {
		<div class="form-group">
			<div class="col-lg-4">
			@multiSelect(editHistoryForm("parentPart"),
			options(Parts.options()),
			'class->"form-control",
			'_label->LanguageApplication.message("parts")
			)
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-2">
				@inputText(editHistoryForm("commenceDate"),						
				'class->"form-control",
				'_showConstraints->false,
				'_label->LanguageApplication.message("requestDate"),
				'placeholder->"YYYY/MM/DD"
				)
			</div>
			<div class="col-lg-1">
			<button id="commence-button"><span class="fa fa-calendar"></span></button>
			</div>
			<script type="text/javascript">
				Calendar.setup({
				inputField     :    "commenceDate",   // id of the input field
				button         :    "commence-button",   // trigger for the calendar (button ID)
	       		ifFormat       :    "%Y/%m/%d %H:%M",       // format of the input field
	       		showsTime      :    true,
	       		timeFormat     :    "24",
       			dateType	   :	'jalali',
				weekNumbers    : true
				});
			</script>
			<div class="col-lg-2">
				@select(field = editHistoryForm("requester.id"),
				options = options(Users.options()),
				'class->"form-control",
				'_label->LanguageApplication.message("requester"),
				'_default->""
				)
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-2">
				@select(editHistoryForm("eventType.id"),
				options(InventoryEvents.options()),
				'class->"form-control",
				'_label->LanguageApplication.message("eventType")
				)
			</div>
			
			<div class="col-lg-4">
				@inputText(editHistoryForm("stockBalance"),						
				'class->"form-control",
				'_showConstraints->true,
				'_label->LanguageApplication.message("quantityReceivedDelivered")
				)
			</div>
					
		</div>
		<div class="form-group">
			<div class="col-lg-3">
				@inputText(editHistoryForm("receiptNumber"),						
				'class->"form-control",
				'_showConstraints->true,
				'_label->LanguageApplication.message("receiptNumber")
				)
			</div>
		</div>
		<div class="form-group">			
			<div class="col-lg-3">
				@inputText(editHistoryForm("requestNumber"),						
				'class->"form-control",
				'_showConstraints->true,
				'_label->LanguageApplication.message("requestNumber")
				)
			</div>
			
			<div class="col-lg-3">
				@inputText(editHistoryForm("offeredUnitPrice"),						
				'class->"form-control",
				'_showConstraints->true,
				'_label->LanguageApplication.message("unitPrice")
				)
			</div>
			
		</div>
		<div class="form-group">
			<div class="col-lg-6">
			@textarea(editHistoryForm("comments"),
			'class->"form-control",
			'rows->"5",
			'_label->LanguageApplication.message("comments")
			)
			</div>
		</div>
		
		<div align="center">
			<input type="submit" value=@LanguageApplication.message("create") 
			class="btn btn-success btn-lg">
			<a style="margin-left : 2em;"
			href="@routes.PartApplication.list()" 
				class="btn btn-danger btn-lg" role="button">
				@LanguageApplication.message("cancel")</a>
		</div>
	}
	<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("select2.min.js"))'></script>
	@if(session().get("play_user_lang") == "1") {
	<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("select2_locale_fa.js"))'></script>}
	<script>
	$(document).ready(function() {
		$("#parentPart").select2( {
			minimumInputLength : 2,
			dropdownCssClass : "bigdrop"
		});
	});
	</script>
}
