@(newCompanyForm : Form[Companies])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(myBootstrapFieldConstructor.f) }

@main("New company") {@Html("")} {
	<style>
	body {
		background-color: #EDEDED;
	}
	</style>
	@form(action = routes.CompanyApplication.save(),
	'class->"form",
	'role->"form"
	) {
		<div class="form-group">
			<div class="row">
				<div class="col-lg-4">
				@inputText(newCompanyForm("name"),
					'class->"form-control",
					'_label->LanguageApplication.message("name"),
					'_showConstraints->true
					)
				</div>
						
			</div>
		</div>
		<div align="center">
			<input type="submit" value=@LanguageApplication.message("create") 
			class="btn btn-success btn-lg">
			<a style="margin-left : 2em;"
			href="@routes.CompanyApplication.list()" 
				class="btn btn-danger btn-lg" role="button">
				@LanguageApplication.message("cancel")</a>
		</div>
	}
}