@(currentPage : com.avaje.ebean.Page[MeasurementUnits], currentSortBy: String, currentOrder: String, currentFilter: String)

@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.views.html._

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.MeasurementUnitApplication.list(newPage, sortBy, order, currentFilter)    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="col-lg-2">
        <a href="@link(0, key)">@title
        <span class="glyphicon @if(currentSortBy == key) {
        	@if(currentOrder == "asc") {glyphicon-sort-by-attributes} else {glyphicon-sort-by-attributes-alt}
        	} else {glyphicon-sort}"></span>
        </a>
    </th>
}

@**********************************
* Pager helper                    *
**********************************@
@pager = {<div id="pager" class="pager">
	            <ul>
	           		<li class="previous">
	           		<a href="@link(0,null)"><span @if(session().get("play_user_lang") == "0") {class="fa fa-fast-backward"} else {class ="fa fa-fast-forward"}></span>
	           		</a></li>
	            	@if(currentPage.hasPrev) {
	                    <li class="previous">
	                        <a href="@link(currentPage.getPageIndex - 1, null)">
	                        @if(session().get("play_user_lang") == "0") {&larr; @LanguageApplication.message("previous")} else {&rarr; @LanguageApplication.message("previous") }
	                        </a>
	                    </li>
	                } else {
	                    <li class="previous disabled">
	                        <a>
	                        @if(session().get("play_user_lang") == "0") {&larr; @LanguageApplication.message("previous")} else {&rarr; @LanguageApplication.message("previous") }
	                        </a>
	                    </li>
	                }
	                <li class="current">
	                    <a>@LanguageApplication.message("displaying") @currentPage.getDisplayXtoYofZ(" " + LanguageApplication.message("to")+" "," "+LanguageApplication.message("of")+" ")</a>
	                </li>
	                <li class="next"><a href="@link(currentPage.getTotalPageCount-1,null)">
	                <span @if(session().get("play_user_lang") == "1") {class="fa fa-fast-backward"} else {class ="fa fa-fast-forward"}></span></a></li>
	                @if(currentPage.hasNext) {
	                    <li class="next">
	                        <a href="@link(currentPage.getPageIndex + 1, null)">
	                        @if(session().get("play_user_lang") == "1") {@LanguageApplication.message("next") &larr;} else {@LanguageApplication.message("next") &rarr;}
	                        </a>
	                    </li>
	                } else {
	                    <li class="next disabled">
	                        <a>
	                        @if(session().get("play_user_lang") == "1") {@LanguageApplication.message("next") &larr;} else {@LanguageApplication.message("next") &rarr;}
	                        </a>
	                    </li>
	                }
	                
	            </ul>
	        </div>
}
@main("Unit list: "+currentFilter) {@Html("")} {
	<br />
	@restrict(la(as("admin"))) {
	<a 
	class="btn btn-primary btn-lg" 
	href="@routes.MeasurementUnitApplication.createMeasurementUnitForm()" title="New unit">@LanguageApplication.message("newMeasurementUnit")
			<span class="glyphicon glyphicon-plus"></span></a>
	}
	<br/>
	@if(flash.containsKey("success")) {
        <div class="alert alert-success">
            <strong>Done!</strong> @flash.get("success")
        </div>
	    }
 	@if(flash.containsKey("error")) {
      <div class="alert alert-danger">
          <strong>ERROR: </strong> @flash.get("error")
      </div>
    }
	<br />
	<form class="form-inline" role="form" action="@link(0, "name")" method="GET">
		<div class="form-group">			
			<input class="form-control" type="search" id="searchbox" name="f" value="@currentFilter" placeholder="@LanguageApplication.message("filterBy")">
		</div>
		<div class="form-group">
			<input type="submit" id="searchsubmit" value="@LanguageApplication.message("filter")" class="btn btn-success">
		</div>
	</form>
	<br />
	
	@if(currentPage.getTotalRowCount == 0) {
		<div class="well well-lg">
	  		<em>@LanguageApplication.message("nothingToDisplay")</em>
	    </div> 
	   } else {
	   		@pager	   		
			<table class="table table-striped">			
				<thead>
					<tr>
						@header("dimension", LanguageApplication.message("dimension"))
						@header("system", LanguageApplication.message("measurementSystem"))
						@header("unitName", LanguageApplication.message("name"))
						@header("unitName2", LanguageApplication.message("nameF"))
						@header("unitCode", LanguageApplication.message("unitCode"))
						@header("comments", LanguageApplication.message("comments"))
						
					</tr>
				</thead>
				<tbody>	
					@currentPage.getList.map { cl =>
					<tr>
						<td>
							@if(cl.dimension==null) {
								<em>-</em>
							} else {@cl.dimension.name}
						</td>
						
						<td>
							@if(cl.system==null) {
								<em>-</em>
							} else {@cl.system}
						</td>
						
						<td><a href="@routes.MeasurementUnitApplication.editMeasurementUnitForm(cl.id)">@cl.unitName</a></td>
						
						<td>
							@if(cl.unitName2==null) {
								<em>-</em>
							} else {@cl.unitName2}
						</td>
						
						<td>
							@if(cl.unitCode==null) {
								<em>-</em>
							} else {@cl.unitCode}
						</td>
						
						<td>
							@if(cl.comments==null) {
								<em>-</em>
							} else {@cl.comments}
						</td>	
					</tr>
				}
				</tbody>
			</table>
			@pager
	}
}