@(newMaintenanceGroupForm : Form[maintenance.MaintenanceGroups], message : String)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(myBootstrapFieldConstructor.f) }

@main("New project") {@Html("")} {
	<style>
		body {
			background-color: #EDEDED;
		}
	</style>
	
	@form(action = routes.MaintenanceGroupApplication.save(),
	'class->"form-horizontal",
	'role->"form"
	) {
		<div class="form-group">
			<div class="col-lg-3">
			@inputText(newMaintenanceGroupForm("name"),
				'_Show_constraintss->"false",
				'class->"form-control",
				'_label->LanguageApplication.message("name"),
				'_showConstraints->true
				)
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-6">
				@textarea(newMaintenanceGroupForm("comments"),
				'class->"form-control",
				'_label->LanguageApplication.message("comments")
				)
			</div>
		</div>
			
		<div align="center">
			<input type="submit" value=@LanguageApplication.message("create") 
			class="btn btn-success btn-lg">
			<a style="margin-left : 2em;"
			href="@routes.MaintenanceGroupApplication.maintenanceGroupList()" 
				class="btn btn-danger btn-lg" role="button">
				@LanguageApplication.message("cancel")</a>
		</div>
	}
}