@(seid : Long, eid : Long, id : Long, mForm: Form[maintenance.Maintenances])

@import helper._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.views.html._
@implicitFieldConstructor = @{ FieldConstructor(myBootstrapFieldConstructor.f) }

@main("Work order: "+mForm("workOrderSerial").value) {@Html("")} {
	<style>
		body {
			background-color: #EDEDED;
		}li.select2-result {
		direction : ltr;}		
	</style>
	@form(action = routes.MaintenanceApplication.update(eid, id),
	'class->"form-horizontal",
	'role->"form"
	) {
	<fieldset>
	<legend><span class="label label-default">@LanguageApplication.message("workOrderInfo")</span></legend>
		@restrict(la(as("admin"), as("planner"))) {
		<div class="form-group">
			<div class="col-lg-3">
				@inputText(mForm("workRequestSerial"),
				'class->"form-control",
				'_showConstraints->true,
				'_label->LanguageApplication.message("workRequestSerial")
				)
			</div>

			<div class="col-lg-3">
				@inputText(mForm("workOrderSerial"),
				'class->"form-control",
				'_showConstraints->true,
				'_label->LanguageApplication.message("workOrderSerial")
				)
			</div>
		</div>
		<div class="form-group">
					<div class="col-lg-2">
						@inputText(mForm("requestDate"),						
						'class->"form-control",
						'_showConstraints->false,
						'_label->LanguageApplication.message("requestDate"),
						'placeholder->"YYYY/MM/DD"
						)
					</div>
				<button id="requestDate-button"><span class="fa fa-calendar"></span></button>
					<script type="text/javascript">
					Calendar.setup({
					inputField     :    "requestDate",   // id of the input field
					button         :    "requestDate-button",   // trigger for the calendar (button ID)
		       		ifFormat       :    "%Y/%m/%d",       // format of the input field
		       		showsTime      :    false,
        			dateType	   :	'jalali',
					weekNumbers    : false
					});
					</script>
				</div>
		}
		
				<div class="form-group">
					<div class="col-lg-2">
						@select(mForm("maintainedSection.id"),
						options(Sections.options(1L)),
						'class->"form-control",
						'_showConstraints->true,
						'_label->LanguageApplication.message("section")
						)
					</div>
					<div class="col-lg-3">
						@select(mForm("maintainedEquipment.id"),
						options(equipment.Equipments.options()),
						'class->"form-control",
						'_showConstraints->true,
						'_label->LanguageApplication.message("equipmentTag"),
						'_default->""
						)
					</div>
				</div>
				
				
				<div class="form-group">
					<div class="col-lg-6">
						@multiSelect(mForm("correspondingFailure"),
						options(failure.Failures.options(seid,eid)),
						'class->"form-control",
						'_default->"",
						'_label->LanguageApplication.message("correspondingFailure")
						)
					</div>
					@if(eid>0) {<a id="failureCreateLink" href="@routes.FailureApplication.createFailure(6,eid)" target="_blank" class="btn btn-link">@LanguageApplication.message("registerFailure")</a>}
					@if(eid<0 && seid>0) {<a id="failureCreateLink" href="@routes.FailureApplication.createFailure(5,seid)" target="_blank" class="btn btn-link">@LanguageApplication.message("registerFailure")</a>}
				</div>		
			
			@restrictOr(la(as("admin"), as("Maintenance.Authorizer"), as("planner"),as("Request.Approver"))) {
			<div class="form-group">
				<div class="col-lg-2">
					@select(mForm("responsibleDiscipline.id"),
						options(Disciplines.options()),
						'class->"form-control",
						'_label->LanguageApplication.message("responsibleDiscipline")
						)
				</div>
			</div>
			} {@inputText(mForm("responsibleDiscipline.id"),'_label->"",'hidden->true)}
			
			@restrict(la(as("admin"), as("Request.Approver"),as("Maintenance.Authorizer"),as("planner"))) {
			<div class="form-group">
				<div class="col-lg-2">
					@inputText(mForm("maintenancePriority"),
					'class->"form-control",
					'_label->LanguageApplication.message("maintenancePriority"),
					'_showConstraints->true
					)
				</div>
			</div>
				}
			
			@restrict(la(as("admin"), as("Request.Approver"), as("planner"))) {
			<div class="form-group">
				<div class="col-lg-6">
					@textarea(mForm("workOrderDescription"),
					'class->"form-control",
					'rows->5,
					'_label->LanguageApplication.message("description")
					)
				</div>
			</div>
				}
			
			<div class="form-group">
				
					<div class="col-lg-2">
					@select(mForm("maintenanceStatus"),
					options(maintenance.MaintenanceStatus.values().toList.map(_.toString)),
					'class->"form-control",
					'_label->LanguageApplication.message("maintenanceStatus")
						)
					</div>
				
					<div class="col-lg-2">
						@select(mForm("holdReason"),
						options(maintenance.HoldReasons.values().toList.map(_.toString)),
						'class->"form-control",
						'_default->"",
						'_label->LanguageApplication.message("holdReason")
							)
					</div>
				
					<div class="col-lg-4">
						@inputText(mForm("holdReasonComment"),
						'class->"form-control",
						'_showConstraints->false,
						'_label->LanguageApplication.message("holdReasonComment")
						)
					</div>
					
				</div>
		</fieldset>
		<fieldset>
		<legend><span class="label label-default">@LanguageApplication.message("workRequestInfo")</span></legend>
		
			@restrict(la(as("admin"), as("planner"))) {
				<div class="form-group">				
					<div class="col-lg-2">						
						@multiSelect(mForm("dependentMaintenances"),
						options(maintenance.Maintenances.options()),
						'class->"form-control",
						'_default->"",
						'_label->LanguageApplication.message("dependentMaints")
						)
					</div>
					
					<div class="col-lg-2">
						@select(mForm("maintenanceGroup.id"),
						options(maintenance.MaintenanceGroups.options()),
						'class->"form-control",
						'_default->"",
						'_label->LanguageApplication.message("maintProject")
						)
					</div>
				</div>}
				
				@restrictOr(la(as("admin"), as("planner"))) {
				<div class="form-group">
					<div class="col-lg-3">
						@select(mForm("maintenanceCategory"),
						options(maintenance.MaintenanceCategories.values().toList.map(_.toString)),
						'class->"form-control",
						'_label->LanguageApplication.message("maintenanceCategory")
						)
					</div>
					<div class="col-lg-2">
						@select(mForm("pmRoutine.id"),
						options(maintenance.PreventiveMaintenances.options(seid,eid)),
						'class->"form-control",
						'_label->LanguageApplication.message("maintPMRoutine"),
						'_default->""
						)
					</div>
					<div class="col-lg-2">
						@select(mForm("classLevelPMRoutine.id"),
						options(maintenance.PreventiveMaintenances.optionsClassLevel(eid)),
						'class->"form-control",
						'_label->LanguageApplication.message("classLevelPMRoutine"),
						'_default->""
						)
					</div>
					
				</div>
				} {@inputText(mForm("maintenanceCategory"),'_label->"",'hidden->true)}
				
			@dynamic("maintenanceAuthorizers")	{		
			<div class="form-group">
				
					<div class="col-lg-2">
						@select(field = mForm("responsiblePerson.id"),
						options = options(Users.options()),
						'class->"form-control",
						'_label->LanguageApplication.message("responsiblePerson"),
						'_default->""
						)
					</div>
			</div>
			}		
			@dynamic("maintenanceInCharge")	{	
			<div class="form-group">
				
				<div class="col-lg-2">
					@select(field = mForm("maintenanceActivity"),
						options = options(maintenance.MaintenanceActivities.values().toList.map(_.toString)),
						'class->"form-control",
						'_label->LanguageApplication.message("maintActivity")
						)
				</div>
				
				<div class="col-lg-5">
					@inputText(mForm("timeToRepair"),
						'class->"form-control",
						'_showConstraints->true,
						'_label->LanguageApplication.message("equipmenTTR")
						)
				</div>
				
			</div>
			
			<div class="form-group">
							
				<div class="col-lg-4">
					@multiSelect(field = mForm("equipmentResources"),
					options = options(equipment.Equipments.options()),
					'class->"form-control",
					'_label->LanguageApplication.message("equipmentResources")
					)
				</div>
				
				<div class="col-lg-4">
					@multiSelect(field = mForm("tools"),
					options = options(RepairTools.options()),
					'class->"form-control",
					'_label->LanguageApplication.message("tools"),
					'_default->""
					)
				</div>
				
			</div>
			<div class="form-group">
				<div class="col-lg-6">
				@textarea(mForm("maintenanceReport"),
					'class->"form-control",
					'_label->LanguageApplication.message("maintenanceReport")
					)
				</div>
			</div>
		}
		</fieldset>
		<div align="center">
			<input type="submit" value="@LanguageApplication.message("update")" class="btn btn-success btn-lg">
			<a style="margin-left : 2em;"
			href="@routes.MaintenanceApplication.maintenanceIndex(id)" 
				class="btn btn-danger btn-lg" role="button">
			@LanguageApplication.message("cancel")</a>
		</div>
	} <!-- End of form -->
	<div class="col-lg-2" id="disciplineFilterer">
					<select id="disciplineSelector">
						@Disciplines.options().map { op =>
						<option value="@op._1">@op._2</option>
						}
					</select>
					</div>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/fcf.js")"></script>				
	<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("select2.min.js"))'></script>
	@if(session().get("play_user_lang") == "1") {
	<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("select2_locale_fa.js"))'></script>}
	<script>
	$(document).ready(function() {
		try {
	if($("select#maintenanceCategory")[0].value!="PREVENTIVE_MAINTENANCE") {
		$("div#classLevelPMRoutine_id_field").hide();
		$("div#pmRoutine_id_field").hide();
	}
	if($("select#maintenanceStatus")[0].value!="HOLD") {
		$("div#holdReason_field").hide();
		$("div#holdReasonComment_field").hide();
	}
	$("select#maintenanceStatus").change(function() {
		if(this.value=="HOLD") {
			$("div#holdReason_field").show();
			$("div#holdReasonComment_field").show();
		} else {
			$("div#holdReason_field").hide();
			$("div#holdReasonComment_field").hide();
		}
			
	});
		} catch(err) {
			console.log("error");
		}
	
	$("div#disciplineFilterer").hide();
	
	try {
		$("select#maintenanceCategory").change(function() {
		if(this.value!="CORRECTIVE_MAINTENANCE") {
			$("div#classLevelPMRoutine_id_field").show();
			$("div#pmRoutine_id_field").show();
		} else {
			$("div#classLevelPMRoutine_id_field").hide();
			$("div#pmRoutine_id_field").hide();
		}
	});
	
	$("label[for='responsiblePerson_id']").click(function() {
		var ps = $(this).offset();
		$("div#disciplineFilterer").css({
		    position: "absolute",
		    top: ps.top,
		    left: @if(session().get("play_user_lang") == "1") {ps.left -120} else {ps.left +120}
		});
		$("div#disciplineFilterer").toggle();
	});
	} catch(err2) {
		consol.log("error 2");
	}
	$("#responsiblePerson_id").select2();
	$("#maintainedEquipment_id").select2({
	    allowClear:true
	});
	$("#dependentMaintenances").select2();
	$("#correspondingFailure").select2();
	//routineSelectFiller( $( "select#maintainedSection_id" ) );
	//$("#maintainedSection_id").trigger("change");
	});
	</script>
}