@(id : Long, mid : Long, muForm: Form[maintenance.MaintenancesUsers])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(myBootstrapFieldConstructor.f) }

@main("Edit maintenance<->Personnel") {@Html("")} {
	<style>
		body {
			background-color: #EDEDED;
		}
	</style>
	@form(action = routes.MaintenanceApplication.updateMaintenancesUsers(id, mid),
	'class->"form-horizontal",
	'role->"form"
	) {	
		<div class="form-group">
			<div class="col-lg-2">
				<label for="disciplineSelector">@LanguageApplication.message("disciplineFilter")</label>
				<select class="form-control" id="disciplineSelector">
					@Disciplines.options().map { op =>
					<option value="@op._1">@op._2</option>
					}
				</select>
			</div>
					
			<div class="col-lg-2">
				@select(muForm("user.id"),
				options(Users.options()),
				'class->"form-control",
				'_label->LanguageApplication.message("personInvolved"),
				'_default->""
				)
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-2">
				@inputText(muForm("hours"),
				'class->"form-control",
				'_label->LanguageApplication.message("workHours"),
				'_showConstraints->true
				)
			</div>
		</div>
		<div align="center">
			<input type="submit" value="@LanguageApplication.message("update")" class="btn btn-success btn-lg">
			<a style="margin-left : 2em;"
			href="/maint?maintID=@mid#tabs-maintenanceReport" 
				class="btn btn-danger btn-lg" role="button">
			@LanguageApplication.message("cancel")</a>
		</div>
	}
	<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("select2.min.js"))'></script>
	@if(session().get("play_user_lang") == "1") {
	<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("select2_locale_fa.js"))'></script>}
	<script>
	$(document).ready(function() {
		$("#user_id").select2();
	});
	</script>
}
