@(mg : maintenance.MaintenanceGroups)
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import be.objectify.deadbolt.java.views.html._

@main(mg.name) {@Html("")} {
	<div class="btn btn-group">
	@restrict(la(as("admin"),as("planner"))) {
		<br />
		<a class="btn btn-warning btn-lg" title="Edit"
		href="@routes.MaintenanceGroupApplication.editMaintenanceGroup(mg.id)">@LanguageApplication.message("edit")
		<span class="glyphicon glyphicon-edit"></span></a>
					
		<a class="btn btn-danger btn-lg" title="Delete group"
		href="@routes.MaintenanceGroupApplication.deleteGroup(mg.id)">@LanguageApplication.message("removeGroup")
		<span class="fa fa-trash"></span></a>}
		
		<a class="btn btn-default btn-lg" title="Gantt chart"
		href="@routes.ReportApplication.projectGantt(mg.id)">Gantt chart</a>
		
		<a class="btn btn-default btn-lg" title="Back to project list"
		href="@routes.MaintenanceGroupApplication.maintenanceGroupList()">
		<span class="@if(session().get("play_user_lang") == "0") {glyphicon glyphicon-arrow-left} else {glyphicon glyphicon-arrow-right}"></span></a>
	</div>
	<br/>
	@if(flash.containsKey("success")) {
        <div class="alert alert-success">
            <strong>Done!</strong> @flash.get("success")
        </div>
	    }
 	@if(flash.containsKey("error")) {
      <div class="alert alert-danger">
          <strong>ERROR: </strong> @flash.get("error")
      </div>
    }
	<br />
	
	<form id="addPartToGoup" class="form form-horizontal"  method="POST" action="@routes.MaintenanceGroupApplication.addPartToGroupMaints(mg.id)">
	<fieldset>
	<legend><span class="label label-default">@LanguageApplication.message("addPartsToProject")</span></legend>
	
	<div class="form-group">
		<div class="col-lg-4">
			<label for="partId">@LanguageApplication.message("parts")</label>
			<select id="partId" name="partId">
				@Parts.find.all().map {pt =>
					<option value="@pt.id">@pt.name</option>
				}
			</select>
		</div>
		
		<div class="col-lg-2">
			<label for="partQuantity">@LanguageApplication.message("quantity")</label>
			<input id="partQuantity" name="partQuantity" placeholder="Enter quantity of part">
		</div>
		<input id="#formSubmit" class="btn btn-success" type="submit" value="@LanguageApplication.message("submit")">
	</div>
	</fieldset>	
	</form>
		<h4>@LanguageApplication.message("addPartToProjectMessage")</h4>
	<br/>
	<!-- Adding tools to project maints -->
	<form id="addToolToGoup" class="form form-horizontal"  method="POST" action="@routes.MaintenanceGroupApplication.addToolToGroupMaints(mg.id)">
	<fieldset>
	<legend><span class="label label-default">@LanguageApplication.message("addToolsToProject")</span></legend>
	
	<div class="form-group">
		<div class="col-lg-4">
			<label for="toolId">@LanguageApplication.message("tools")</label>
			<select id="toolId" name="toolId">
				@RepairTools.find.all().map {rtt =>
					<option value="@rtt.id">@rtt.name</option>
				}
			</select>
		</div>
		<input id="#tformSubmit" class="btn btn-success" type="submit" value="@LanguageApplication.message("submit")">
	</div>
	</fieldset>	
	</form>
	<h4>@LanguageApplication.message("addToolToProjectMessage")</h4>
	
	
	<form id="shiftDays" class="form form-horizontal"  method="POST" action="@routes.MaintenanceGroupApplication.shiftDates(mg.id)">
	<fieldset>
	<legend><span class="label label-default">Shift days</span></legend>
	
	<div class="form-group">
		<div class="col-lg-2">
			<label for="numDays">@LanguageApplication.message("day")</label>
			<input id="numDays" name="numDays" placeholder="Number of days">
		</div>
		<input id="#sformSubmit" class="btn btn-success" type="submit" value="@LanguageApplication.message("submit")">
	</div>
	</fieldset>	
	</form>
	<div class="row">
		<div class="col-lg-6">
		<h3>@LanguageApplication.message("projectInfo")</h3>
			<table class="table table-bordered">
		
			<tr>
				<th class="col-lg-1">@LanguageApplication.message("name")</th>
				<th class="col-lg-1">@LanguageApplication.message("completionPercent")</th>
			</tr>
			
			<tr>
				<td>@mg.name</td>
				<td>@mg.percentComplete</td>
			</tr>
		
			</table>
		</div>
		<div class="col-lg-6">
			<h3>@LanguageApplication.message("list")</h3>
			<ol>
			@mg.memberMaints.map { m =>
				<li><a href="@routes.MaintenanceApplication.maintenanceIndex(m.id)">
				@m.workOrderSerial : @m.maintenanceStatus</a> <a href="@routes.MaintenanceApplication.removeFromGroup(m.id, mg.id)"><i class="fa fa-remove"></i></a></li>
			}
			</ol>
		</div>
	</div>
	<label>@LanguageApplication.message("comments")</label>
	<pre>@mg.comments</pre>
	
	<!-- SCRIPTS -->
	<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("select2.min.js"))'></script>
	@if(session().get("play_user_lang") == "1") {
	<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("select2_locale_fa.js"))'></script>}
	
	<script>
	$(document).ready(function() {
		$("#partId").select2( {
			minimumInputLength : 2,
			dropdownCssClass : "bigdrop"
		});
	});
	</script>
	
	}